:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F5F5F5;
  background-color: #23252C;
}

#fullcard {
  width: 318px;
  margin: 0 auto;
  border-radius: 10px 10px;
  overflow: hidden;

  color-scheme: light dark;
  background-color: #1A1B21;
}

.info--personal,
.info--links,
.about,
.interest {
  padding: 0 20px;
}

.info--personal,
.about,
.interest {
  padding-top: 20px;
}

.info {
  figure {
    width: 318px;
    height: 318px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  img {
    width: auto;
    height: 145%;
  }

  .info--personal {
      h1 {
      font-size: 25px;
      margin: 6px 0;
    }

    h2 {
      font-size: 12.8px;
      color: #F3BF99;
      margin: 6px 0;
    }

    a {
      font-size: 10.24px;
      color: #F5F5F5;
      text-decoration: none;
    }

    p {
      margin: 6px 0;
    }
  }
  
  .info--links {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  
    button {
      width: 115px;
      height: 36px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &.email {
        background-color: #FFFFFF;
        color: #000000;
        
      }
  
      &.linkedin {
        background-color: #5093E2;
        color: #FFFFFF;
      }
  
      span {
        font-weight: 600;
      }
  
      img {
        width: 20%;
        height: auto;
      }
    }
  }
}

.about,
.interest {
  text-align: left;

  h3 {
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 13px;
  }
}

.interest {
  padding-bottom: 20px;
}

#footer {
  background-color: #161619;

  ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 20px 0;
      margin: 0;
    }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  #fullcard {
    background-color: #F5F5F5;
    color: #4A4E74;



    .info--links .email {
      border: 1px solid #4A4E74;
    }

    a {
      color: #4A4E74;
    }

    #footer {
      background-color: #D5D4D8;
    }
  }
}
